In [1]:
#Download Kaggle zip
#!kaggle competitions download -c titanic

In [2]:
import zipfile
import pandas as pd

# Uncompress the Titanic zip file
with zipfile.ZipFile("../100daysofml/Day5/titanic.zip", 'r') as zip_ref:
    zip_ref.extractall("../100daysofml/Day5")

In [3]:
df_train = pd.read_csv('../100daysofml/Day5/train.csv')
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df_test =pd.read_csv('../100daysofml/Day5/test.csv')
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
df_gen_submit = pd.read_csv('../100daysofml/Day5/gender_submission.csv')
df_gen_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [6]:
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

In [7]:
# let's start with checking the dataset
df_train.shape
# it has 12 features

(891, 12)

In [8]:
# let's check the names of the columns
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
# very handy way to check the count, mean, std etc. Note that it considers only the numerical columns 
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
print(df_test.shape, df_test.columns) 

df_test.describe()

(418, 11) Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [11]:
# check the type of data and describe column picks the int64 and float coumns
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
# as I can see there are some columns as object type 

# let's check the first 5 rows of the dataset

df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
# I don't require name so we will drop it. 
def drop_some_columns(df, colnames=[]):
    final_df = df.drop(colnames, axis=1)
    return final_df

neat_df_train = drop_some_columns(df_train, colnames=["Name"])
neat_df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
# check variance and bias
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import numpy as np

# Load Titanic dataset
df = sns.load_dataset('titanic').dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])  # Drop rows with missing values for simplicity

# Preprocessing
df['sex'] = df['sex'].map({'male': 0, 'female': 1})
df['embarked'] = df['embarked'].map({'C': 0, 'Q': 1, 'S': 2})
df['class'] = df['class'].map({'First': 1, 'Second': 2, 'Third': 3})

X = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class']]
y = df['survived']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

def evaluate_model(model, X_train, y_train, X_test, y_test):
    model.fit(X_train, y_train)
    train_accuracy = accuracy_score(y_train, model.predict(X_train))
    test_accuracy = accuracy_score(y_test, model.predict(X_test))
    cv_accuracy = cross_val_score(model, X, y, cv=5).mean()
    return train_accuracy, test_accuracy, cv_accuracy

# High Bias, Low Variance: Logistic Regression with strong regularization
high_bias_low_variance_model = LogisticRegression(max_iter=500, C=0.01, random_state=42)
high_bias_low_variance_results = evaluate_model(high_bias_low_variance_model, X_train, y_train, X_test, y_test)

# Low Bias, High Variance: Decision Tree with no depth limit
low_bias_high_variance_model = DecisionTreeClassifier(max_depth=None, random_state=42)
low_bias_high_variance_results = evaluate_model(low_bias_high_variance_model, X_train, y_train, X_test, y_test)

# High Bias, High Variance: Logistic Regression with very few iterations (inadequate training)
high_bias_high_variance_model = LogisticRegression(max_iter=10, random_state=42)
high_bias_high_variance_results = evaluate_model(high_bias_high_variance_model, X_train, y_train, X_test, y_test)

# Low Bias, Low Variance: Decision Tree with appropriate depth
low_bias_low_variance_model = DecisionTreeClassifier(max_depth=5, random_state=42)
low_bias_low_variance_results = evaluate_model(low_bias_low_variance_model, X_train, y_train, X_test, y_test)

# Print results
print(f"High Bias, Low Variance (Logistic Regression with strong regularization): Train Accuracy = {high_bias_low_variance_results[0]:.2f}, Test Accuracy = {high_bias_low_variance_results[1]:.2f}, CV Accuracy = {high_bias_low_variance_results[2]:.2f}")
print(f"Low Bias, High Variance (Decision Tree with no depth limit): Train Accuracy = {low_bias_high_variance_results[0]:.2f}, Test Accuracy = {low_bias_high_variance_results[1]:.2f}, CV Accuracy = {low_bias_high_variance_results[2]:.2f}")
print(f"High Bias, High Variance (Logistic Regression with few iterations): Train Accuracy = {high_bias_high_variance_results[0]:.2f}, Test Accuracy = {high_bias_high_variance_results[1]:.2f}, CV Accuracy = {high_bias_high_variance_results[2]:.2f}")
print(f"Low Bias, Low Variance (Decision Tree with appropriate depth): Train Accuracy = {low_bias_low_variance_results[0]:.2f}, Test Accuracy = {low_bias_low_variance_results[1]:.2f}, CV Accuracy = {low_bias_low_variance_results[2]:.2f}")

High Bias, Low Variance (Logistic Regression with strong regularization): Train Accuracy = 0.75, Test Accuracy = 0.73, CV Accuracy = 0.74
Low Bias, High Variance (Decision Tree with no depth limit): Train Accuracy = 0.99, Test Accuracy = 0.69, CV Accuracy = 0.76
High Bias, High Variance (Logistic Regression with few iterations): Train Accuracy = 0.69, Test Accuracy = 0.64, CV Accuracy = 0.68
Low Bias, Low Variance (Decision Tree with appropriate depth): Train Accuracy = 0.86, Test Accuracy = 0.72, CV Accuracy = 0.80

/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/harsimarsingh/personalproject/nlp_with_transformers/venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [37]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Create a small DataFrame
data = {'x1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'x2': [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
    'y': [0, 0, 1, 1, 1, 1, 1, 1, 0, 0]}
df = pd.DataFrame(data)

df

   x1  x2  y
0   1   0  0
1   2   1  0
2   3   0  1
3   4   1  1
4   5   0  1
5   6   1  1
6   7   0  1
7   8   1  1
8   9   0  0
9  10   1  0

In [38]:
X = df[["x1", "x2"]]
X

   x1  x2
0   1   0
1   2   1
2   3   0
3   4   1
4   5   0
5   6   1
6   7   0
7   8   1
8   9   0
9  10   1

In [39]:
y=data["y"]

In [40]:
y

[0, 0, 1, 1, 1, 1, 1, 1, 0, 0]

In [42]:
model = LogisticRegression()

In [43]:

model.fit(X, y)

LogisticRegression()

In [49]:
t = pd.DataFrame({"x1": [2, 1,2,3,4,1], "x2": [1,0,0,1,1,0]})
model.predict(t)

array([1, 1, 1, 1, 1, 1])